<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
      /* Estilos CSS para o menu */
      ul.menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #f1f1f1;
        overflow: hidden;
      }
      
      ul.menu li {
        float: left;
      }
      
      ul.menu li a {
        display: block;
        color: #333;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      ul.menu li a:hover {
        background-color: #ddd;
      }
    </style>
  </head>
  <body>
    <ul class="menu">
    <li><a href="/">Home</a></li>
    <li><a href="/consulta-banco">Consulta-banco</a></li>
    <li><a href="/consulta-externa">Consulta-externa</a></li>
    <li><a href="/login">Login</a></li>
    </ul>

    <center>
    <h1>Login</h1>
    <form method="POST">
      <div>
        <label>Username:</label>
        <input type="text" name="username" required>
      </div>
      <div>
        <label>Password:</label>
        <input type="password" name="password" required>
      </div>
      <button type="submit">Submit</button>
    </form>
    </br>
    </br>
    {% if status %}
    <img src="http://surl.li/iydin" width="50">
    <a style="color: red;">INVALID USER OR PASSWORD!</a>
    {% endif %}
    </center>
  </body>
</html>
